{% extends "base.html" %}

{% block head_title %}{{ full_name }}{% endblock %}

{% load mathfilters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card border-light mb-3 col-lg-4" style="min-width: 45rem;">
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th colspan="2"><h5><strong>{{ name }}</strong></h5>
                        {{ name_eng|default_if_none:"Не указано" }}</th>
                </tr>

                <tr>
                    <td>Год</td>
                    <td>{{ year }}</td>
                </tr>

                {% if type == "series" or type == "show" %}
                    <tr>
                        <td>Сезон</td>
                        <td>{{ season }}</td>
                    </tr>
                    <tr>
                        <td>Эпизоды</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                {% for height in height %}
                                    <div class="btn-group mr-2 episode-group" role="group">
                                        {% for width in width %}
                                            {% with height|mul:10|add:width as cur_ep %}
                                                {% if cur_ep <= last_watched %}
                                                    <a type="button" class="btn btn-secondary episode"
                                                       href="{% url 'change-watched-episodes' slug=slug episode=cur_ep %}">
                                                        {{ cur_ep }}</a>
                                                {% elif cur_ep <= episodes %}
                                                    <a type="button" class="btn btn-outline-secondary episode"
                                                       href="{% url 'change-watched-episodes' slug=slug episode=cur_ep %}">
                                                        {{ cur_ep }}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endif %}

                {% if url_info %}
                    <tr>
                        <td>Кинопоиск</td>
                        <td><a href="{{ url_info }}">{{ url_info }}</a></td>
                    </tr>
                {% endif %}

                {% if url_to_watch %}
                    <tr>
                        <td>ДорамаТВ</td>
                        <td><a href="{{ url_to_watch }}">{{ url_to_watch }}</a></td>
                    </tr>
                {% endif %}

                <tr>
                    {% if last_watched == episodes or type == "movie" %}
                        <td>Мой рейтинг</td>
                        <td>
                            <form method='POST'>
                                {% csrf_token %}
{#                                <input type="hidden" name="_method" value="PUT" />#}
                                <input type="hidden" name="partial" value="True" />
                                <input type="hidden" name="rating_my" value=1 />
                                <label>
                                    <input type="number" name="number_box">
                                </label>
                                <input class="btn btn-outline-success" type="submit" value="Оценить"/>
                            </form>
                        </td>
                    {% endif %}
                </tr>

                <tr>
                    <td>Игнорировать</td>
                    <td>
                        {% if to_ignore %}
                            <a type="button" class="btn btn-outline-success"
                               href="{% url 'change-to-ignored' slug=slug is_ignored=0 %}">
                                ✗
                            </a>
                        {% else %}
                            <a type="button" class="btn btn-outline-danger"
                               href="{% url 'change-to-ignored' slug=slug is_ignored=1 %}">
                                ✔
                            </a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if group.show %}

        <!--костыль чтобы между информацией и группой было место-->
        <div class="card border-light mb-3 col-lg-4" style="max-width: 5rem;">
        </div>

        {% include "composition/group_v2.html" %}

    {% endif %}

{% endblock %}