{% extends "base.html" %}

{% block head_title %}
    {% if type == 'movie' %}
        Каталог фильмов
    {% elif type == 'series' %}
        Каталог сериалов
    {% elif type == 'show' %}
        Каталог шоу
    {% endif %}
{% endblock %}

{% load crispy_forms_tags %}
{% load mathfilters %}

{% block content %}
    <div class="col-dm-3" style="max-width: 15rem;" align="left">
        <form method="get">
            <button class="btn btn-primary" type="submit">Применить</button>
            <a class="btn btn-outline-secondary" href="{% url 'catalog' type=type %}">Сбросить</a>
            <p></p>
            {{ filter.form|crispy }}
        </form>
    </div>

    <div class="card border-light mb-3 col-lg-4" style="max-width: 5rem;">
    </div>

    <div class="card border-light mb-3 col-lg-4" style="min-width: 45rem;">
        {% include "pagination.html" %}

        <div class="card-body table-responsive">
            <div class="row">
                {% for composition in compositions %}
                    <div class="card col-md-6">
                        <div class="card-header">
                            <a href="{{ composition.get_absolute_url }}" style="color:black;">
                                <div class="card-text">{{ composition.full_name }}</div>
                            </a>
                            <div class="card-text text-secondary"><small>{{ composition.full_name_eng }}</small></div>
                        </div>
                        <div class="card-body">
                            {% if composition.url_info %}
                                <div class="card-text text-secondary"><small><a href="{{ composition.url_info }}">
                                    {{ composition.url_info }}</a></small></div>
                            {% endif %}
                            {% if composition.url_to_watch %}
                                <div class="card-text text-secondary"><small><a href="{{ composition.url_to_watch }}">
                                    {{ composition.url_to_watch }}</a></small></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}