{% for composition in compositions %}
    <div class="card col-md-3">
        {% if composition.last_watched and composition.last_watched > 0 %}
            <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ composition.progress }}%;"
                     aria-valuenow="{{ composition.last_watched }}" aria-valuemin="0"
                     aria-valuemax="{{ composition.episodes }}">
                    <small>{{ composition.last_watched }} / {{ composition.episodes }}</small>
                </div>
            </div>
        {% endif %}
        <div class="card-header">
            <a href="{{ composition.get_absolute_url }}" style="color:black;">
                <div class="card-text">{{ composition.full_name }}</div>
            </a>
            <div class="card-text text-secondary"><small>{{ composition.full_name_eng }}</small></div>
        </div>
        <div class="card-body">
            {% if composition.url_info %}
                <div class="card-text text-secondary"><small><a href="{{ composition.url_info }}">
                    {{ composition.url_info }}</a></small></div>
            {% endif %}
            {% if composition.url_to_watch %}
                <div class="card-text text-secondary"><small><a href="{{ composition.url_to_watch }}">
                    {{ composition.url_to_watch }}</a></small></div>
            {% endif %}
        </div>
    </div>
{% endfor %}
