{% load templatetags %}

<div>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' 1 %}"
                   aria-label="Previous">

                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Первая</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' page_obj.previous_page_number %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">Предыдущая</span>
                </a>
            </li>
        {% endif %}

        {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for num in range %}
                {% if forloop.counter == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link"
                           href="?{% url_replace request 'page' forloop.counter %}">{{ forloop.counter }}
                            <span class="sr-only">Текущая</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% url_replace request 'page' forloop.counter %}">{{ forloop.counter }}
                            <span class="sr-only">Текущая</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endwith %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' page_obj.next_page_number %}"
                   aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">Следующая</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' page_obj.paginator.num_pages %}"
                   aria-label="Previous">

                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Последняя</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>